---
Language: Cpp

BasedOnStyle: Google

IndentWidth: 2
TabWidth: 2
UseTab: Never

ColumnLimit: 130

DerivePointerAlignment: false
PointerAlignment: Left      # int* p
ReferenceAlignment: Left    # T& t
