# .clang-tidy
Checks: >
  -*,
  google-*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  clang-analyzer-*,
  -readability-identifier-naming,         
  -modernize-use-trailing-return-type,
  -google-runtime-references         

WarningsAsErrors: ""
FormatStyle: file
HeaderFilterRegex: '^(?!.*(vendor|build)/).*$'

CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: "1"
  - key: modernize-use-nullptr.NullMacros
    value: "NULL"
  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: "true"
